Author: Hnin Pwint Tin, 20 May 2021

Social and Information Network Analysis, 2021 Autumn

Master of Data Science and Innovation , University of Technology Sydney

This is the data preparation script part-5 for network data visualisation assessment task - AT3

In [2]:
import igraph as ig
import pandas as pd

import matplotlib.pyplot as plt
# Regular Expression Lib
import re

In [25]:
## Load pre-processed data

# edges = pd.read_csv("data/Hnin_Tweeter_Api/may-3/twitter_data_analysis-05-03-15-edge-table-username-based.csv")
# edges = pd.read_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-edge-table-username-based.csv")
edges = pd.read_csv("data/Kaggle/twitter_data_analysis-edge-table-username-based.csv")


# vertices = pd.read_csv("data/Hnin_Tweeter_Api/may-3/twitter_data_analysis-05-03-15-node-table-username-based.csv")
# vertices = pd.read_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-node-table-username-based.csv")
vertices = pd.read_csv("data/Kaggle/twitter_data_analysis-node-table-username-based.csv")

In [15]:
edges.head(20)

,Source,Target,reply_text
0,to_fly_to_live,ANI,@ANI Isn't it the best poll promise ever?? Fre...
1,bak_sahil,MisseeMonis,@MisseeMonis They said vaccine for all but not...
2,clivebennett,theJeremyVine,@theJeremyVine And on the same day we heard th...
3,raquelquefois,jim_dickinson,@jim_dickinson Iâ€™ve heard he died covid HOWEVE...
4,hemagazineindia,HEmagazineIndia,@journoarunima @netshrink @doctorsoumya @c_ass...
5,sufiyan_atif,NairShilpa1308,@NairShilpa1308 @Ahmedshabbir20 And If BJP doe...
6,imtiyaz94433919,ANI,@ANI Covid Vaccine is not BJP's personal asset...
7,karwaan_of_life,TOIIndiaNews,@TOIIndiaNews Are you kidding me ???? Free Cov...
8,rajjjim,ANI,@ANI All other states should wait for election...
9,championtenza,championtenza,Then you hear a healthy looking somebody sayin...
10,championtenza,championtenza,Other serious side effects which they usually ...
11,bhaskareco67,chatukhor,"@chatukhor If BJP lost the election in Bihar ,..."
12,kanarkist,ANI,@ANI Is this a bloody joke.. This moron of a f...
13,badherakesh,ANI,@ANI If @BJP4Bihar doesnâ€™t win in #Bihar will ...
14,deepakdeepu_,deepakdeepu_,I wonder why India didn't find the Covid Vacci...
15,memumbaikar42,Iamsahzad,"@Iamsahzad Aap iska doosra hissay samjhe,if th..."
16,vepeanil,suhasinih,@suhasinih Covid vaccine is oxygen for humanit...
17,aarifathar,TimesNow,@TimesNow @narendramodi Dear countrymen As Bih...
18,saurabhkadam_07,ANI,@ANI If BJP doesn't win in Bihar will they cha...
19,aarifathar,IndiaToday,@IndiaToday Dear countrymen As Bihar goes to t...

In [7]:
edges.shape

(69736, 3)

In [10]:
len(edges['Source'].unique())

51358

In [12]:
len(edges['Target'].unique())

40431

In [13]:
vertices.shape

(91789, 1)

In [24]:
reply_count_df = edges.groupby(['Target']).count().reset_index()
reply_count_df = reply_count_df.sort_values(by='Source', ascending=False)
reply_count_df.head(20)

                Target  Source  reply_text
35999  realDonaldTrump    2003        2003
30528          jcho710    1442        1442
10408         JoeBiden     307         307
3598               CNN     258         258
22523       WhiteHouse     195         195
34218     narendramodi     194         194
13340      MattHancock     167         167
38687          thehill     157         157
14683       NYGovCuomo     146         146
4324     ChuckCallesto     119         119
29328  harleysnhotrods     118         118
9337     IngrahamAngle     109         109
23554   adarpoonawalla     106         106
15759         PMOIndia     104         104
19275          SkyNews     102         102
17549          Reuters      99          99
11094     KamalaHarris      94          94
7664               GOP      88          88
2712         BillGates      87          87
600           ASlavitt      84          84

In [4]:
g = ig.Graph.DataFrame(edges[['Source', 'Target']], directed=False)

%%time
layout = g.layout(layout='fruchterman_reingold')
layout

fig, ax = plt.subplots(figsize=(20,20))
ig.plot(g, layout=layout, target=ax)

C:\Hnin\lib\site-packages\igraph\__init__.py:3446: UserWarning: In 'edges' NA elements were replaced with string "NA"
  warn("In 'edges' NA elements were replaced with string \"NA\"")
UsageError: Line magic function `%%time` not found.

###  Text Data cleaning

In [ ]:
#### Removing Http urls
edges["reply_text_cleaned"] = edges['reply_text'].map(lambda x:  re.sub(r'\bhttps?:\/\/.*[\r\n]*', '', x))

# print(edges['reply_text'][4])
print(edges['reply_text_cleaned'][302])

In [112]:
#### Removing mention tag @
edges["reply_text_cleaned"] = edges['reply_text_cleaned'].map(lambda x:  re.sub(r'@[A-Za-z0-9,_]*', '', x))
print(edges['reply_text_cleaned'][302])

 It's not a game! COVID-19 is deadly! COVID-19 Still Killing! No COVID vaccine! There were 1,336,561 deaths in the US between March 1 &amp; August 1, study said â€“ a 20% over normality! That's been reported &amp; verified! #StillBelieveTrumpHandledCOVIDCorrectly ?

In [114]:
#### Removing mention tag #
edges["reply_text_cleaned"] = edges['reply_text_cleaned'].map(lambda x:  re.sub(r'#[A-Za-z0-9,_]*', '', x))
print(edges['reply_text_cleaned'][302])

 It's not a game! COVID-19 is deadly! COVID-19 Still Killing! No COVID vaccine! There were 1,336,561 deaths in the US between March 1 &amp; August 1, study said â€“ a 20% over normality! That's been reported &amp; verified!  ?

In [115]:
#### Removing emjii encoding Tried to remove emoji encoding - \xf0\x9f\x99\x8f\xf0\x9f\x99\x8f\xf0\x9f\x99\x8f, but it is wrong approach
edges["reply_text_cleaned"] = edges['reply_text_cleaned'].map(lambda x:  re.sub(r'[\\][x][0-9,a-f,A-F][0-9,a-f,A-F]*', '', x))
print(edges['reply_text_cleaned'][302])
# ([\\][x][0-9,a-f,A-F][0-9,a-f,A-F])

 It's not a game! COVID-19 is deadly! COVID-19 Still Killing! No COVID vaccine! There were 1,336,561 deaths in the US between March 1 &amp; August 1, study said â€“ a 20% over normality! That's been reported &amp; verified!  ?

In [78]:
### Decode the text for future emotion text detection for emojii icons
# edges['decoded_text'] = edges['reply_text_cleaned'].map(lambda x: x.encode('utf-8').decode('utf-8'))
# print(edges['decoded_text'][302])

b' I got vaccinated in Sir HN Reliance hospital on 07/05/2021. But my vaccination status is not yet update\xe2\x80\xa6

In [116]:
## Exmine the text cleaning result
print(edges['reply_text'][8])
print(edges['reply_text_cleaned'][8])
# print(edges['decoded_text'][8])

#### Store the result here into the Drive

@ANI All other states should wait for elections in order to get covid vaccine ðŸ¤£ðŸ¤£ðŸ¤£
 All other states should wait for elections in order to get covid vaccine ðŸ¤£ðŸ¤£ðŸ¤£

### Decoded cleaned Text to Emotion using text2emotion

In [117]:
import text2emotion as te

## Add Emotion Grade into Dataframe
edges['emotion_grade'] = edges['reply_text_cleaned'].map(lambda x: te.get_emotion(x))

In [122]:
edges.head()

,Source,Target,reply_text,reply_text_cleaned,emotion_grade,emotion_grade_max
0,to_fly_to_live,ANI,@ANI Isn't it the best poll promise ever?? Fre...,Isn't it the best poll promise ever?? Free Co...,"{'Happy': 0.11, 'Angry': 0.0, 'Surprise': 0.33...",Surprise
1,bak_sahil,MisseeMonis,@MisseeMonis They said vaccine for all but not...,They said vaccine for all but not when. Free ...,"{'Happy': 0.5, 'Angry': 0.0, 'Surprise': 0.25,...",Happy
2,clivebennett,theJeremyVine,@theJeremyVine And on the same day we heard th...,And on the same day we heard that a Covid vac...,"{'Happy': 0.33, 'Angry': 0.0, 'Surprise': 0.0,...",Happy
3,raquelquefois,jim_dickinson,@jim_dickinson Iâ€™ve heard he died covid HOWEVE...,Iâ€™ve heard he died covid HOWEVER he hadnâ€™t be...,"{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.5, ...",Surprise
4,hemagazineindia,HEmagazineIndia,@journoarunima @netshrink @doctorsoumya @c_ass...,6. AstraZeneca trial volunteer in Brazi...,"{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, ...",Fear

In [123]:
edges.to_csv("data/Kaggle/twitter_data_analysis-edge-table-username-based-emotion.csv", index=False)

In [121]:
edges["emotion_grade_max"] = edges['emotion_grade'].map(lambda x: 'neutral' if ( max(x.values()) == 0)  
                                                        else max(x, key=x.get))

In [60]:
stats = {'key1':20, 'key2':35, 'key3': 44}
max_key = max(stats, key = stats.get)
print(max_key)

key3

In [75]:
#### Drop the mid-processed columns , to save the memory space
edges = edges.drop(columns=['decoded_text'])

In [92]:
# edges.to_csv("data/Hnin_Tweeter_Api/may-11/temp_emotion_result.csv", index= False)
edges.head(10)

,Source,Target,reply_text,reply_text_cleaned,emotion_grade,emotion_grade_max
0,Bhagyas58431318,PragativadiNews,b'@PragativadiNews @Naveen_Odisha @CMO_Odisha ...,"b' Thank you sir,your fight against covid i...","{'Happy': 0.33, 'Angry': 0.0, 'Surprise': 0.33...",Happy
1,iamshramana1997,PragativadiNews,b'@PragativadiNews But online classes at KIIT ...,b' But online classes at KIIT are still going ...,"{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.5, ...",Surprise
2,KAUSTUB43759729,Sahana0207Kumar,b'@Sahana0207Kumar Ishant and bumrah in place ...,b' Ishant and bumrah in place of siraj and sha...,"{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, ...",Fear
3,Selva091076,Sahana0207Kumar,b'@Sahana0207Kumar Stay strong India \xf0\x9f\...,b' Stay strong India ',"{'Happy': 0.5, 'Angry': 0.5, 'Surprise': 0.0, ...",Happy
4,Sahana0207Kumar,Sahana0207Kumar,b'Stay Strong Hindustan\xf0\x9f\x92\xaa\xf0\x9...,b'Stay Strong HindustanWe will all together de...,"{'Happy': 0.33, 'Angry': 0.33, 'Surprise': 0.0...",Happy
5,Myself_chanduu,Iam_Sudarshann,b'@Iam_Sudarshann Thanchu',b' Thanchu',"{'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...",neutral
6,JamesBond_oo7_,Iam_Sudarshann,"b""@Iam_Sudarshann I don't think so. let's see""","b"" I don't think so. let's see""","{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, ...",Sad
7,MANI_BUNNY_CULT,Iam_Sudarshann,b'@Iam_Sudarshann @RusthumHere Link',b' Link',"{'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...",neutral
8,JamesBond_oo7_,Iam_Sudarshann,b'@Iam_Sudarshann \xf0\x9f\xa5\xb2Thanks Anna',b' Thanks Anna',"{'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...",neutral
9,pratyu87,Iam_Sudarshann,b'@Iam_Sudarshann @Arjun55743275 @Naresh_varam...,b' Thnq',"{'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...",neutral

### Save the final result

In [93]:
edges.head(4)
### Save the result
edges.to_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-edge-table-username-based-emotion.csv", index=False)

### Unit Tests

In [65]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [190]:
# text = b'@mayareddykp @kpbrindareddy Always welcome sister\xf0\x9f\x99\x8f\xf0\x9f\x99\x8f\xf0\x9f\x99\x8f'
# text = b'@PragativadiNews But online classes at KIIT are still going on. Why?! \xf0\x9f\x98\xb6'
text = b'@Sahana0207Kumar Stay strong India \xf0\x9f\x87\xae\xf0\x9f\x87\xb3'
# text = b' \xf0\x9f\xa5\xb2 Thanks Anna'

decoded_text = text.decode('utf-8')
print(decoded_text)
print(type(decoded_text))
te.get_emotion(decoded_text)

@Sahana0207Kumar Stay strong India ðŸ‡®ðŸ‡³
<class 'str'>

{'Happy': 0.5, 'Angry': 0.5, 'Surprise': 0.0, 'Sad': 0.0, 'Fear': 0.0}

In [94]:
### Copy the emo result to nodes
df_node_table = pd.read_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-node-table-username-based.csv")

                Id                                              label
0  Bhagyas58431318  b'@PragativadiNews @Naveen_Odisha @CMO_Odisha ...
1  iamshramana1997  b'@PragativadiNews But online classes at KIIT ...
2  KAUSTUB43759729  b'@Sahana0207Kumar Ishant and bumrah in place ...
3      Selva091076  b'@Sahana0207Kumar Stay strong India \xf0\x9f\...
4  Sahana0207Kumar  b'Stay Strong Hindustan\xf0\x9f\x92\xaa\xf0\x9...

In [96]:
df_node_table.shape
edges.shape

(1723, 6)

In [100]:
df_node_table["label_cleaned"] = df_node_table['label'].map(lambda x:  re.sub(r'\bhttps?:\/\/.*[\r\n]*', '', x))

df_node_table["label_cleaned"] = df_node_table['label_cleaned'].map(lambda x:  re.sub(r'@[A-Za-z0-9,_]*', '', x))

df_node_table["label_cleaned"] = df_node_table['label_cleaned'].map(lambda x:  re.sub(r'[\\][x][0-9,a-f,A-F][0-9,a-f,A-F]*', '', x))

In [104]:
### Adding "Neutral" emotion when all values are zeros
df_node_table["emotion_grade_max"] = df_node_table['emotion_grade'].map(lambda x: 'neutral' if ( max(x.values()) == 0)  
                                                         else max(x, key=x.get))

In [107]:
### Save the final result to CSV
df_node_table.to_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-node-table-username-based-emotion.csv", index=False)

In [37]:
edge_table = pd.read_csv("data/Hnin_Tweeter_Api/may-11/twitter_data_analysis-05-11-15-edge-table-username-based-emotion.csv")
reply_count_df = edge_table.groupby(['Target']).count().reset_index()
reply_count_df = reply_count_df.sort_values(by='Source', ascending=False)
reply_count_df

,Target,Source,reply_text,reply_text_cleaned,emotion_grade,emotion_grade_max
6,JPulasaria,403,403,403,403,403
2,BertyThomas,363,363,363,363,363
10,RFhospital,305,305,305,305,305
13,logicalkpmurthy,238,238,238,238,238
7,Kalingatv,136,136,136,136,136
4,IamAlone__SM,126,126,126,126,126
11,RashminPulekar,64,64,64,64,64
0,Arshad_shannu,33,33,33,33,33
5,Iam_Sudarshann,16,16,16,16,16
1,Ashwani_sadhu,14,14,14,14,14
8,NxtGenEngineer,10,10,10,10,10
3,GomathiRaghava4,9,9,9,9,9
12,Sahana0207Kumar,3,3,3,3,3
9,PragativadiNews,2,2,2,2,2
14,wittyshaman,1,1,1,1,1

In [39]:
edge_table.shape #1723
len(edge_table['Target'].unique()) #15
len(edge_table['Source'].unique()) # 937

937

### Unit Testing for Emotion

In [54]:
x = {'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad': 0, 'Fear': 0}
result =  'neutral' if ( ((max(x, key=x.get) == 0))) else max(x, key=x.get)
result

'Happy'

In [195]:
import text2emotion as te

#test_text_2 = b' \xf0\x9f\xa5\xb2 Thanks Anna'
# test_text_2 = b' Public be like\xf0\x9f\x9a\xb6\xe2\x80\x8d'
# test_text = b' Great work. Your telegram channel is a life saver in this chaos. Thank you for what you have done \xf0\x9f\x99\x8f\xf0\x9f\x8f\xbb'
test_text_2 = b'thank you so much \xf0\x9f\x99\x8f\xf0\x9f\x8f\xbb'

print(type(test_text_2))

decoded_text = test_text_2.decode('utf-8')
print(decoded_text)
print(te.get_emotion(decoded_text))


text = "Day was pretty amazingðŸ˜ƒðŸ˜ƒ"
te.get_emotion(text)

<class 'bytes'>
thank you so much ðŸ™ðŸ»
{'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad': 0, 'Fear': 0}

{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, 'Sad': 0.0, 'Fear': 0.0}

In [97]:
clean_tweets_list = edges['decoded_text']
emotion_list = []

for tweet in clean_tweets_list:
#     decoded_text = test_text.decode('utf-8')
    emotion_list.append(te.get_emotion(tweet))

In [99]:
len(emotion_list)
edges['emotion_result'] = emotion_list

In [101]:
edges['emotion_result'][6]

{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, 'Sad': 1.0, 'Fear': 0.0}

In [26]:
# emotion_list
print("\U0001F60D")
print("\U0001F601")

ðŸ˜
ðŸ˜

### Unit Testing

In [ ]:
a_dictionary = {'Happy': 0.5, 'Angry': 0.5, 'Surprise': 0.0, 'Sad': 0.0, 'Fear': 0.0}

max_key = max(a_dictionary, key=a_dictionary.get)
max_key